@if (this.isPopupVisible) {
  <div class="csvChangeContainer">
    <div class="csvChangeContents">
      <div class="csvChangeCloseButton">
        <app-button-with-image
          imageSource="assets/images/close.png"
          imageText="Close Popup"
          (buttonAction)="showPopup(false)"
          >
        </app-button-with-image>
      </div>
      <div class="csvChangeValues">
        <label for="textarea">Change Value for: <b>{{ this.csvHeaderToApplyChangeOn }}</b></label>
        <textarea class="csvChangeValuesTextarea" id="textarea" name="textarea" rows="5" cols="60" [value]="this.csvValueToChange" #currentTextarea autofocus></textarea>
      </div>
      <div class="csvChangeButtonContainer">
        <div class="csvChangeButtonLeft">
          <app-button-with-image
            imageText="OK. Accept Changes."
            imageSource="assets/images/ok.png"
            (buttonAction)="valueChanged(currentTextarea.value)"
            >
          </app-button-with-image>
        </div>
        <div class="csvChangeButtonLeft">
          <app-button-with-image
            imageText="Cancel. Discard/Undo Changes."
            imageSource="assets/images/cancel.png"
            (buttonAction)="showPopup(false)"
            >
          </app-button-with-image>
        </div>
        <div class="csvChangeButtonRight">
          <app-button-with-image
            imageText="Restore default value."
            imageSource="assets/images/restore.png"
            (buttonAction)="currentTextarea.value = this.csvValueDefault"
            >
          </app-button-with-image>
        </div>
      </div>
    </div>
  </div>
}