.csvContainer {
    position: relative;
    float:left;
    width: 100%;
    margin-left: 25px;
    margin-top: 25px;
    overflow-y: hidden;
}

.csvDataList {
    position: relative;
    float: left;
    width: 100%;
    clear: left;
}

.csvDataBlockHeader {
    position: relative;
    float:left;
    background: linear-gradient(to right, lightgrey, #f2f2f2) ;
    width: 30%;
    margin-bottom: 5px;
    margin-left:5px;
    padding: 10px;
    border: 1px dashed black;
    border-radius: 5px;
}

.csvDataBlockHeader:hover {
    cursor:default;
}

.csvDataBlockData {
    position: relative;
    float:left;
    clear: right;
    width: 50%;
    padding: 10px;
    margin-left:5px;
    margin-bottom: 5px;
    border: 1px dashed black;   
    min-height: 40px; 
    border-radius: 5px;
}

.csvDataBlockData:hover {
    cursor:pointer;
    border: 1px solid yellow; 
    background-color: ivory;
    border-radius: 5px;
}

.data-is-changed {
    border: 1px solid green;  
    background: linear-gradient(to right, lightgreen, #a7f1a7, #bdf5bd, #d3f8d3);
    border-radius: 5px;
}

.GridMode {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    overflow-y: hidden;
}

.ListMode {
    position: relative;
    float: left;
    clear: both;
    width: 70%;
}

.GridMode th {
    background-color: lightblue;
    border: 1px solid #000;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
}

.GridMode th:hover {
    cursor: default;
}

.GridMode table {
    display: block;
    overflow-x: auto;
    width: 95%;
}

.GridMode table, td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

.GridMode td:hover {
    cursor: default;
    border: 1px solid darkblue; 
    background: linear-gradient(to right, darkgrey, lightgrey);
}

.GridMode  table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

.GridMode table tr:nth-child(even) {
    background-color: #ffffff;
}