@if(isCsvLoaded()) {
  <div class="csvContainer">
    @if(isGridMode()) {
      <div class="GridMode">
        <table>
          @if (this.csvHeaders != null) {
            <thead>
              <tr>
                <th></th>
                @for (header of this.csvHeaders; track header) {
                  <th>{{ header }}</th>
                }
              </tr>
            </thead>
          }
          <tbody>
            @for (row of this.getRowsToGenerate(); track row) {
              <tr>
                <td>
                  <app-button-with-image
                    imageText="Go To Record"
                    imageSource="assets/images/goto_record.png"
                    (buttonAction)="gotoRecord(row)"
                    >
                  </app-button-with-image>
                </td>
                @for (cell of this.getCellsToGenerate(row); track index; let index = $index) {
                  <td title="{{cell}}" [class.data-is-changed]="this.testDataChanged(row, index)">{{ this.limitStringLength(cell) }}</td>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <div class="ListMode">
        @for (data of this.getCurrentDataPair(); track index; let index = $index) {
          <div class="csvDataList">
            @if (this.csvHeaders != null) {
              <div class="csvDataBlockHeader">
                {{ data.header }}
              </div>
            }
            <div class="csvDataBlockData" (click)="showPopupWithDetails(index, data.header, data.column, data.defaultValue)" [class.data-is-changed]="data.column !== data.defaultValue">
              {{ data.column }}
            </div>       
          </div>
        }        
      </div>
      <div>
        <app-csv-menu-next-prev></app-csv-menu-next-prev>
      </div>
    }
    <app-csv-change-popup
      [isPopupVisible]="this.isPopupVisible()"
      (callBackPopupIsClosed)="changePopupVisibility($event)"
      [csvValueId]="this.changeDataId"
      [csvHeaderToApplyChangeOn]="this.changeDataHeader"
      [csvValueToChange]="this.changeDataColumn"
      [csvValueDefault]="this.changeDataColumnDefault"
      (callBackValueChanged)="this.changeData($event)"
      >
    </app-csv-change-popup>
  </div>
}
@if(errors().length > 0) {
  <div class="csvErrors">
    <h1>Error(s) occured during parsing CSV:</h1>
    @for (error of errors(); track error) {
      <p>{{error}}</p>
    }
  </div>
}