<div class="csvSettingsContainer">
    <div class="csvSettingsButton">
        <app-button-with-image imageSource="assets/images/settings.png" imageText="Settings" (buttonAction)="this.isMenuVisible.set(!this.isMenuVisible())"></app-button-with-image>
    </div>
    <div class="csvSettingsMenu" [class.csvSettingsMenuVisible]="this.isMenuVisible()" [class.csvSettingsMenuHidden]="!this.isMenuVisible()">        
        <div class="csvSettingsItem">
            <div class="csvItemLeft">
                <label for="separator">Separator</label>
            </div>
            <div class="csvItemRight">
                <input type="text" [value]="this.csvSeparator()" name="separator" (change)="this.csvSeparator.set(separatorElement.value)" #separatorElement />
            </div>
        </div>
        <div class="csvSettingsItem">
            <div class="csvItemLeft">
                <label for="enclosing">Enclosing</label>
            </div>
            <div class="csvItemRight">
                <input type="text" [value]="this.csvEnclosing()" name="enclosing" (change)="this.csvEnclosing.set(enclosingElement.value)" #enclosingElement />
            </div>
        </div>
        <div class="csvSettingsItem">
            <div class="csvItemLeft">
                <label for="firstRowIsHeader">First Row is Header:</label>
            </div>
            <div class="csvItemRight">
                <input type="checkbox" name="firstRowIsHeader" [checked]="this.csvFirstRowIsHeader()" (change)="this.csvFirstRowIsHeader.set(firstRowHeaderElement.checked ? true : false)" #firstRowHeaderElement />
            </div>
        </div>
        <div class="csvSettingsItem">
            <div class="csvItemLeft">
                <label for="parseCsvDataAsUtf8">Parse CSV Data as UTF-8:</label>
            </div>
            <div class="csvItemRight">
                <input type="checkbox" name="parseCsvDataAsUtf8" [checked]="this.csvIsUtf8()" (change)="this.csvIsUtf8.set(isUtf8Element.checked ? true : false)" #isUtf8Element/>
            </div>
        </div>
    </div>

</div>