<div class="containerCsvApp">
    <div class="csvMenuContainer">
        <div class="csvMenuItem">
            <app-open-file 
                imageText="Open CSV File"
                imageSource="assets/images/csv.png" 
                (selectedFile)="GetSelectedFile($event)"
            >
            </app-open-file>  
        </div>  
        <div class="csvMenuItem">
            <app-csv-settings 
                [csvSeparator]="this.csvSettings.separator" 
                [csvEnclosing]="this.csvSettings.enclosing"
                [csvFirstRowIsHeader]="this.csvSettings.firstRowIsHeader"
                [csvIsUtf8]="this.csvSettings.isUtf8"        
                (csvSeparatorChanged)="OnSeparatorChanged($event)"
                (csvEnclosingChanged)="OnEnclosingChanged($event)"
                (csvFirstRowIsHeaderChanged)="OnFirstRowHeaderChanged($event)"
                (csvIsUtf8Changed)="OnIsUtf8Changed($event)"
            >
            </app-csv-settings>
        </div>
        <div class="csvMenuItem" [class.is-save-button-disabled]="!this.isCsvLoaded">
            <app-button-with-image
                imageText="Save CSV File"
                imageSource="/assets/images/save.png"
                (buttonAction)="SaveCsvFile($event)"
                [isDisabled]="!this.isCsvLoaded"
            >        
            </app-button-with-image> 
        </div>
        <app-csv-view-mode 
            [isGridMode]="this.isGridModeSelected"
            (getIsGridMode)="SetGridMode($event)"
        >
        </app-csv-view-mode>
    </div>
    <div class="csvContent" *ngIf="this.isCsvLoaded && !this.isCsvErrors">
        <app-csv-content 
            [showCsvData]="this.isCsvLoaded" 
            [csvHeaders]="this.csvHeaders" 
            [csvColumns]="this.csvColumns" 
            [csvColumnsDefault]="this.csvColumnsDefault"
            [csvtotalLines]="this.csvtotalLines"
            [csvUseLength]="this.csvUseLength"
            [csvFilename]="this.csvFilename"
            [requestToSaveCsv]="this.requestToSaveCsv"
            (csvObject)="CreateCsV($event)"
            [useGridMode]="this.isGridModeSelected"
            (gridModeChanged)="SetGridMode($event)"
            [requestToReloadData]="this.requestToReloadData"
        >
        </app-csv-content>
    </div>
    <div class="csvErrors" *ngIf="!this.isCsvLoaded && this.isCsvErrors">
        <h1>Error occured during parsing CSV:</h1>
        <p *ngFor="let error of this.csvErrorsSummary">{{error}}</p>
    </div>
</div>