<div class="containerCsvApp">
    <div class="csvMenuContainer">
        <div class="csvMenuItem">
            <app-open-file 
                imageText="Open CSV File"
                imageSource="assets/images/csv.png" 
                (selectedFile)="GetSelectedFile($event)"
            >
            </app-open-file>  
        </div>  
        <div class="csvMenuItem">
            <app-csv-settings 
                [csvSeparator]="this.csvSettings.separator" 
                [csvEnclosing]="this.csvSettings.enclosing"
                [csvFirstRowIsHeader]="this.csvSettings.firstRowIsHeader"
                [csvIsUtf8]="this.csvSettings.isUtf8"        
                (csvSeparatorChanged)="OnSeparatorChanged($event)"
                (csvEnclosingChanged)="OnEnclosingChanged($event)"
                (csvFirstRowIsHeaderChanged)="OnFirstRowHeaderChanged($event)"
                (csvIsUtf8Changed)="OnIsUtf8Changed($event)"
            >
            </app-csv-settings>
        </div>
        <div class="csvMenuItem" [class.is-save-button-disabled]="!this.csvLoadServiceService.isCsvLoadedSuccesfully()">
            <app-button-with-image
                imageText="Save CSV File"
                imageSource="/assets/images/save.png"
                (buttonAction)="SaveCsvFile($event)"
                [isDisabled]="!this.csvLoadServiceService.isCsvLoadedSuccesfully()"
            >        
            </app-button-with-image> 
        </div>
        <app-csv-view-mode 
            [isGridMode]="this.isGridModeSelected"
            (getIsGridMode)="SetGridMode($event)"
        >
        </app-csv-view-mode>
    </div>
    <div class="csvContent">
        <app-csv-content
            [useGridMode]="this.isGridModeSelected"
            (gridModeChanged)="SetGridMode($event)"
            [requestToReloadData]="this.requestToReloadData"
        >
        </app-csv-content>
    </div>    
</div>