.containerCsvApp {
    width:95%;
}

.csvMenuContainer {
    width: 100%;
    position: relative;
    float: left;
    clear: both;
    top: 0px;
    left: 0px;
    padding: 25px;
    background: linear-gradient(to left, lightblue, cornflowerblue);
    border-radius: 5px;
}

.csvMenuItem {
    position: relative;
    float: left;
    margin-left:25px;
}

.csvContent {
    position: relative;
    float: left;
    width: 100%;
}

.is-save-button-disabled {
    position: relative;
    float: left;
    z-index: 25;
    background-color: darkgrey;
    opacity: 0.5;
    width: 58px;
    height: 61px;
    border-radius: 5px;
}