@import '../../../../assets/styles/placeholders.scss';
@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.main-container {
    width: 100%;
    position: relative;
}

.add-header {
    @extend %position-relative-float-left;
    margin-top: 16px;
    width: 50%;
}

.amount-of-records {
    @extend %position-relative-float-left;
    margin-top: 16px;
    width: 40%;
}

.w-33 {
    @extend %position-relative-float-left;
    width: 33%;
}

div.w-33 label {
    margin-right: 4px;
}

.pt-8 {
    padding-top: 8px;
}

.header-container {
    @include floatLeftClear($clear: left);
    padding-left: 8px;
    width: 50%;
}

.row {
    width: inherit;
    position: relative;
}

.ng-invalid .ng-touched {
    border: $red-border-1px;
}

input {
    border: $darkgrey-border-1px;
    border-radius: 5px;
    padding: 4px;
    height: 1.25rem;
}