.csvMenuPrevNextContainer {
    position: fixed;
    top: 125px;
    left: 60%;
    width: auto;
    height: auto;
    padding: 25px;
    background-color: ivory;
    border-radius: 5px;
    border: 1px solid black;
}

.prevButton {
    position: relative;
    float: left;
    margin-right:25px
}

.currentItem {
    position: relative;
    float: left;
    margin-right: 5px;
    width: 2ch;
}

.totalItems {
    position: relative;
    float: left;    
    margin-left: 5px;
}

.someSpacer {
    position: relative;
    float: left;
    width: 25px;
    text-align: center;
}

.spaceBetweenButtons {
    position: relative;
    float: left;
    width: auto;
    padding-top: 20px;
    border:1px sold #000;
    border-radius: 5px;
}

.nextButton {
    margin-left: 25px;
    position: relative;
    float: left;
}

.is-button-disabled {
    background-color: darkgrey;
}