@import '../../../../assets/styles/placeholders.scss';
@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.csvMenuPrevNextContainer {
    position: fixed;
    top: 150px;
    left: 60%;
    width: auto;
    height: auto;
    padding: 25px;
    background-color: $next-prev-backgorund;
    border-radius: 5px;
    border: $black-border-1px;
}

.prevButton {
    @include floatLeftMarginRight($marginRight: 25px);
}

.currentItem {
    @include floatLeftMarginRight($marginRight: 5px);
    width: 3ch;
}

.totalItems {
    @include floatLeftMarginLeft($marginLeft: 5px);
}

.someSpacer {
    @extend %position-relative-float-left;
    width: 25px;
    text-align: center;
}

.spaceBetweenButtons {
    @extend %position-relative-float-left;
    width: auto;
    padding: 20px 3px 20px 3px;
    border: $black-border-1px;
    border-radius: 5px;
    background-color: $space-between-color;
    vertical-align: middle;
}

.nextButton {    
    @include floatLeftMarginLeft($marginLeft: 25px);
}

.is-button-disabled {
    background-color: $button-disabled;
}

.jumpToContainer {
    @include floatLeftClear($clear: both);
    margin-top: 25px;
}

.jumpToIndex {
    @extend %position-relative-float-left;
    padding-top: 15px;
}

.jumpToIndex input[type=number] {
   height: 30px; 
   font-size: 18px;
   -moz-appearance: textfield;
   appearance: textfield;
   margin: 0; 
   text-align: center;
}

.jumpToButton {
    @include floatLeftMarginLeft($marginLeft: 25px);
}