@import './assets/styles/variables.scss';

button {
    border: none;
    padding: 5px;
    background-color: transparent;
    border-radius: $button-border-radius;
}

button:hover:enabled {
    cursor: $cursor-pointer;
    background-color: $button-background;
    border-radius: $button-border-radius;
}

button:hover:disabled {
    cursor: $cursor-default;
}
