@import './assets/styles/variables.scss';

button {
    border: none;
    padding: 5px;
    background-color: transparent;
    border-radius: $button-border-radius;
}

button:hover:enabled {
    background-color: $button-background;
    border-radius: $button-border-radius;
}
