%position-relative-float-left {
    position: relative;
    float: left;
}

%position-relative-float-right {
    position: relative;
    float: right;
}

%font-size-20-bold {
    font-size: 20px;
    font-weight: bold;
}

%error-colors {
    background-color: #000;
    color: red;
}