//Buttons
$button-background: #a4c0f4;

$button-border-radius: 5px;

$button-disabled: darkgrey;

//Csv settings menu
$csv-settings-first-color: lightblue;
$csv-settings-second-color: cornflowerblue;

//Borders
$black-border-1px: 1px solid #000;
$red-border-1px: 1px solid red;
$yellow-border-1px: 1px solid yellow;
$yellow-border-2px: 2px solid yellow;
$green-border-1px: 1px solid green;
$darkblue-border-1px: 1px solid darkblue;

$darkgrey-border-1px-dotted: 1px dotted darkgrey;
$grey-border-1px-dotted: 1px dotted grey;

$black-border-1px-dashed: 1px dashed black;
$yellow-border-1px-dashed: 1px dashed yellow;

//Next and prev buttons
$next-prev-background: ivory;
$space-between-color: #fff;

//main menu
$main-menu-first-color: lightblue;
$main-menu-second-color: cornflowerblue;

//CSV content
$csv-content-first-color: lightgrey;
$csv-content-second-color: #f2f2f2;

$hover-color: ivory;

$changed-color-1: lightgreen;
$changed-color-2: #a7f1a7;
$changed-color-3: #bdf5bd;
$changed-color-4: #d3f8d3;

$th-color: lightblue;

$td-hover-color-1: darkgrey;
$td-hover-color-2: lightgrey;

$tr-odd-color: #f1f1f1;
$tr-even-color: #fff;

//Change pop-up
$transparent-background: rgba(0, 0, 0, 0.8);

$dialog-background: #fff;

//Mouse cursors
$cursor-pointer: pointer;
$cursor-default: default;
